.popup__button_close {
  height: 45px;
  width: 45px;
  padding: 0;
  background: url("../../../../images/closeicon.svg"), no-repeat;
  position: absolute;
  top: -50px;
  right: -30px;
}

.popup__button_close:hover {
  opacity: 0.6;
  transition: 1s;
}

@media screen and (max-width: 340px) {
  .popup__button_close {
    position: absolute;
    top: -50px;
    right: -20px;
  }
}
