@import url(_name/popup__input_name.css);
@import url(_profession/popup__input_profession.css);

.popup__input {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0;
  width: 358px;
  outline: 0;
}

@media screen and (max-width: 420px) {
  .popup__input {
    width: 220px;
    margin: 0 auto;
  }
}


@media screen and (max-width: 340px) {
  .popup__input {
    width: 190px;
    margin: 0 auto;
  }
}
