.place__button {
    height: 18px;
    width: 21px;
    background: url("../../../images/like.svg"), no-repeat;
    border: none;
    align-self: center;
    padding: 0;
    outline:0;
    cursor: pointer;
    box-sizing: border-box;
    margin-right: 22px;
  }

  .place__button:hover {
    opacity: 0.4;
    transition: 1s;
  }