@import url(_close/popup__button_close.css);
@import url(_save/popup__button_save.css);
@import url(_create/popup__button_create.css);

.popup__button {
  border: none;
  align-self: center;
  outline: 0;
  cursor: pointer;
  box-sizing: border-box;
}
