@import url(_close/popup__button_close.css);
@import url(_submit/popup__button_submit.css);
@import url(_submit/_inactive/popup__button_submit_inactive.css);


.popup__button {
  align-self: center;
  outline: 0;
  cursor: pointer;
  box-sizing: border-box;
}
