.popup__button_save {
  height: 50px;
  width: 358px;
  border: none;
  align-self: center;
  outline: 0;
  cursor: pointer;
  box-sizing: border-box;
  background-color: black;
  color: white;
  text-align: center;
  border-radius: 2px;
  position: absolute;
  bottom: 36px;
  left: 36px;
}

.popup__button_save:hover {
  background: rgba(0, 0, 0, 0.8);
  transition: 1s;
}

@media screen and (max-width: 420px) {
  .popup__button_save {
    width: 220px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 340px) {
  .popup__button_save {
    width: 190px;
    margin: 0 auto;
  }
}
