.profile__button_add {
  height: 50px;
  width: 150px;
  background: url("../../../../images/AddButton_main.svg"), no-repeat;
}

.profile__button_add:hover {
  opacity: 0.4;
  transition: 1s;
}

@media screen and (max-width: 880px) {
  .profile__button_add {
    margin-top: 36px;
    background: url("../../../../images/AddButton_mobile.svg"), no-repeat;
    width: 282px;
  }
}
