@import url(_remove/place__button_remove.css);
@import url(_like/place__button_like.css);
@import url(_like/_active/place__button_like_active.css);


.place__button {
    border: none;
    align-self: center;
    padding: 0;
    outline:0;
    cursor: pointer;
    box-sizing: border-box;
  }

  .place__button:hover {
    opacity: 0.4;
    transition: 1s;
  }