.profile__button_edit {
    height: 24px;
    width: 24px;
    background: url("../../../../images/EditButton.svg"), no-repeat;
    margin: 25px 0 0 10px;
  }

  .profile__button_edit:hover {
    opacity: 0.4;
    transition: 1s;
  }
