@import url(__item/place__item.css);
@import url(__image/place__image.css);
@import url(__text/place__text.css);
@import url(__title/place__title.css);
@import url(__button/place__button.css);


.place {
    width: 882px;
    display: grid;
    grid-template-columns: repeat(3, 282px);
    grid-template-rows: repeat(2, 361px);
    grid-column-gap: 18px;
    grid-row-gap: 21px;
    padding-top: 46px;
    margin: 0 auto;
  }

  @media screen and (max-width: 880px){
    .place {
      width: 100%;
      grid-template-columns: 280px 280px;
      grid-template-rows: auto;
      justify-content: center;
    }
  }
  @media screen and (max-width: 590px) {
    .place {
      width: 282px;
      grid-template-columns: 282px;
      grid-template-rows: auto;
    }
  }

 