@import url(__image/place__image.css);
@import url(__text/place__text.css);
@import url(__title/place__title.css);
@import url(__button/place__button.css);


.place {
  position: relative;
  height: 282px;
  width: 282px;
  background-color: white;
  padding-bottom: 79px;
  border-radius: 10px;
}