@import url(__copyright/footer__copyright.css);

.footer {
  margin: 0 auto;
  width: 882px;
}

@media screen and (max-width: 880px) {
  .footer {
    width: 320px;
    margin-left: 75px;
  }
}

@media screen and (max-width: 470px) {
  .footer {
    width: 282px;
    margin-left: 35px;
  }
}

@media screen and (max-width: 340px) {
  .footer {
    width: 200px;
    margin-left: 19px;
  }
}
